{% load static %}

<footer class="border-top footer" style="background-color: black;">
    <div class="row mt-4" style="margin-left: 200px;">
      <div class="col-12 col-md">
        <img class="mb-2" src="{% static 'img/logo6.png' %}" alt="" width="40" height="40">
        <small class="d-block mb-3 text-light">© 2020-2021</small>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-info">Quick Links</h5 >
        <ul class="list-unstyled text-small">
          <li><a class="text-light" href="#">Best Online Rate Guarantee</a></li>
          <li><a class="text-light" href="#">COVID-19 update</a></li>
          <li><a class="text-light" href="#">Health & Safety</a></li>
          <li><a class="text-light" href="#">Destinations</a></li>
          <li><a class="text-light" href="#">Gift cards</a></li>
          <li><a class="text-light" href="#">R Hotels App</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-info">Help</h5 >
        <ul class="list-unstyled text-small">
          <li><a class="text-light" href="#">Consumer</a></li>
          <li><a class="text-light" href="#">Contact</a></li>
          <li><a class="text-light" href="#">FAQ</a></li>
          <li><a class="text-light" href="#">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-info">About</h5 >
        <ul class="list-unstyled text-small">
          <li><a class="text-light" href="#">Team</a></li>
          <li><a class="text-light" href="#">Locations</a></li>
          <li><a class="text-light" href="#">Privacy</a></li>
          <li><a class="text-light" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>